<div class="test">
    <div class="nav-container">
        <a id="introductionNav" href="#introduction" class= 'active' ><i class="fa-solid fa-user"></i></a>
        <a id="experienceNav" href="#experience" class= 'unactive' ><i class="fa-solid fa-briefcase"></i></a>
        <a id="aboutNav" href="#about" class= 'unactive' ><i class="fa-solid fa-book"></i></a>
        <a id="githubProjectsNav" href="#githubProjects" class= 'unactive' ><i class="fa-solid fa-code"></i></a>
        <a id="contactNav" href="#contact" class= 'unactive'><i class="fa-solid fa-message"></i></i></i></a>
    </div>
    
    <div class="nav-container-left">
        <a id="gitHubProjects"  href="https://github.com/andrea-ceron" target="_blank" class= 'unactive'><i class="fa-brands fa-github"></i></i></a>
    </div>
    
    <div class='tagSection' id="infoTag">
    </div>

</div>
